<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.reber.twitpicviewer" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="Twitter Image Viewer">
		<activity android:label="ImageViewer" android:icon="@drawable/icon"
			android:theme="@android:style/Theme.NoTitleBar" android:name=".ViewPic"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="tweetphoto.com" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="twitpic.com" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="plixi.com" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="yfrog.com" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="picplz.com" />
			</intent-filter>
		</activity>
	</application>

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>
</manifest> 